media/*
saves/*
!saves/cleaned_placements_dataset_landetect.csv
.DS_Store
recommender_systems_prev_versions/*
__pycache__/*
collaborative_filtering/models/*
!collaborative_filtering/models/collaborative_system/*6_190.tsv
!collaborative_filtering/models/collaborative_system/*6_190.txt
!collaborative_filtering/models/collaborative_system/*v01.t
!collaborative_filtering/models/collaborative_system/german_tabbed_vectors.tsv
# !collaborative_filtering/models/collaborative_system/german_vectors_and_placements_embeddings.tsv
collaborative_filtering/*.json
# !collaborative_filtering/models/case_sensitive
recommender_metrics.py
Starspace/models
Starspace/*.tsv
Starspace/datasets
Starspace/__pycache__
format_data/__pycache__
format_data/replacement_counts*.json